---
import { ArrowRight } from "lucide-astro";
import { faqs } from "@/content/faq-data";
import WebPageLayout from "@/layouts/WebPageLayout.astro";
import IntroSection from "@/layouts/sections/IntroSection.astro";
import Accordion from "@/components/ui/Accordion.astro"
import CtaSection from "@/layouts/sections/CtaSection.astro";
---

<WebPageLayout title="Contact" description="Reach out to Vintique Sound for audio services, lessons, or questions.">

    {/* Generic Section */}
    <IntroSection
      bgColors="bg-linear-to-br from-secondary/20 to-accent/20"
      badgeText="FAQ"
      badgeColor="bg-secondary text-secondary-foreground"
      title="Frequently Asked Questions"
      subtitle="Find answers to common questions about our services, courses, and products."
      align="center"
    />

    {/* FAQ Section */}
    <section class="py-20 bg-muted">
      <div class="container mx-auto px-4">
        <div class="max-w-4xl mx-auto space-y-12">

          <!-- Services -->
          <Accordion
            title="Services"
            accentColor="primary"
            items={faqs.services}
            singleOpen={true}
          />

          <!-- Education -->
           <Accordion
            title="Education"
            accentColor="secondary"
            items={faqs.education}
            singleOpen={true}
          />

          <!-- Digital Products -->
          <Accordion
            title="Digital Products"
            accentColor="accent"
            items={faqs.products}
            singleOpen={true}
          />

          <!-- Technical -->
          <Accordion
            title="Technical Details"
            accentColor="primary"
            items={faqs.products}
            singleOpen={true}
          />

        </div>
      </div>
    </section>

    {/* CTA Section */}
    <CtaSection
      bgColors="bg-linear-to-br from-secondary via-secondary/80 to-primary"
      title="Still have questions?"
      subtitle="Can't find the answer you're looking for? I'm happy to help, just get in touch."
      solid={{
        label: "Contact Me",
        href: "/contact",
        variant: "solid",
        icon: ArrowRight,
        iconPosition: "right",
        bgColor: "white",
        hoverBgColor: "white/90",
        textColor: "primary",
        hoverTextColor: "primary",
        useHoverScale: true
      }}
    />

</WebPageLayout>
