---
import type { CtaButton } from "@/types/cta";
import SingleColumnContainer from "@/layouts/SingleColumnContainer.astro";
import CtaSectionCopy from "@/layouts/sections/CtaSectionCopy.astro";

type CtaSectionProps = {
  bgColors?: string;
  title: string;
  subtitle?: string;
  solid?: CtaButton;
  outline?: CtaButton;
  align?: "center" | "left" | "right";
  outerClass?: string;
};

const {
  bgColors,
  title,
  subtitle,
  solid,
  outline,
  align = "center",
  outerClass,
} = Astro.props as CtaSectionProps;
---

<section class={`w-full relative overflow-hidden ${outerClass}`.trim()}>
  <div class={`absolute inset-0 ${bgColors}`.trim()} />
  <SingleColumnContainer innerClass="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 xl:px-10 2xl:px-12">
    <CtaSectionCopy
      title={title}
      subtitle={subtitle}
      solid={solid}
      outline={outline}
      align={align}
    />
  </SingleColumnContainer>
</section>
