---
import DualColumnContainer from "@/layouts/DualColumnContainer.astro";
import type { ImageMetadata } from "astro";
import type { CtaButton } from "@/types/cta";

import HeroSectionCopy from "@/layouts/sections/HeroSectionCopy.astro";
import HeroSectionImage from "@/layouts/sections/HeroSectionImage.astro";

type HeroSectionProps = {
	imagePosition?: "left" | "right";
	title: string;
	subtitle?: string;
  primary: CtaButton;
  outline?: CtaButton;
	image: ImageMetadata;
	imageAlt: string;
};

const {
	imagePosition = "right",
	title,
	subtitle,
	primary,
	outline,
	image,
	imageAlt,
} = Astro.props as HeroSectionProps;

const isImageLeft = imagePosition === "left";
---

<section class="w-full relative overflow-hidden">
	<div class="absolute inset-0 bg-linear-to-br from-primary/15 via-secondary/10 to-accent/15" />
	<DualColumnContainer>
		<div slot="left">
			{isImageLeft ? (
				<HeroSectionImage image={image} imageAlt={imageAlt} />
			) : (
				<HeroSectionCopy
					title={title}
					subtitle={subtitle}
					primary={primary}
					outline={outline}
				/>
			)}
		</div>

		<div slot="right">
			{isImageLeft ? (
				<HeroSectionCopy
					title={title}
					subtitle={subtitle}
					primary={primary}
					outline={outline}
				/>
			) : (
				<HeroSectionImage image={image} imageAlt={imageAlt} />
			)}
		</div>
	</DualColumnContainer>
</section>
