---
// Local layout components
import DualColumnContainer from "@/layouts/DualColumnContainer.astro";
import HeroSectionCopy from "@/layouts/sections/HeroSectionCopy.astro";
import HeroSectionImage from "@/layouts/sections/HeroSectionImage.astro";

// Types and utilities
import type { ImageMetadata } from "astro";
import type { CtaButton } from "@/types/cta";

// Type definitions
type HeroSectionProps = {
	bgColors?: string;
	title: string;
	subtitle?: string;
  solidButton: CtaButton;
  outlineButton?: CtaButton;
	image: ImageMetadata;
	imagePosition?: "left" | "right";
	imageAlt: string;
};

// Const definitions
const {
	bgColors,
	title,
	subtitle,
	solidButton,
	outlineButton,
	image,
	imagePosition = "right",
	imageAlt,
} = Astro.props as HeroSectionProps;

const isImageLeft = imagePosition === "left";
---

<section class="w-full relative overflow-hidden">
	<div class={`absolute inset-0 ${bgColors}`.trim()} />
	<DualColumnContainer>
		<div slot="left">
			{isImageLeft ? (
				<HeroSectionImage image={image} imageAlt={imageAlt} />
			) : (
				<HeroSectionCopy
					title={title}
					subtitle={subtitle}
					solidButton={solidButton}
					outlineButton={outlineButton}
				/>
			)}
		</div>

		<div slot="right">
			{isImageLeft ? (
				<HeroSectionCopy
					title={title}
					subtitle={subtitle}
					solidButton={solidButton}
					outlineButton={outlineButton}
				/>
			) : (
				<HeroSectionImage image={image} imageAlt={imageAlt} />
			)}
		</div>
	</DualColumnContainer>
</section>
